doctype html
html(lang='en')
	head
		title= 'kelsymichael'
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='assets/css/main.css')
		link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300' type='text/css')

	body

		//- header: nav: ul
		//- 	li: a(href='#about') about
		//- 	li: a(href='#contact') contact
		.topContainer			
			h1.name| kelsymichael

		.middlewrap: section
			h1.middleText| UX/UI
			.middle
				img(src='assets/img/mobile.svg').three
				img(src='assets/img/tablet.svg').two
				img(src='assets/img/desktop.svg').one
				
				

			.line#about

			h1.middleText2| Web Development
			.single
				img(src='assets/img/web-dev.svg')#web
			
		.lowerwrap: footer
			h1.goodbye|Let's work together
			a(href='https://www.linkedin.com/in/kelsygagnebin' target='_blank').social LinkedIn
			a(href='https://github.com/kelsymichael' target='_blank').social1 GitHub
	