doctype html
html(lang='en')
	head
		title= 'kelsymichael'
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='assets/css/main.css')
		link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300' type='text/css')

	body
		header: nav: ul
			li: a(href='#about') about
			li: a(href='#contact') contact
		.topContainer			
			h1.name| kelsymichael

		.middleContainer
			h1.middleText| UX/UI
			.responsive
				img(src='assets/img/desktop.png')#desktop
				img(src='assets/img/tablet.png')#tablet
				img(src='assets/img/mobile.png')#mobile

			h1.middleText| Web Development
			.single
				img(src='assets/img/web-dev.png')#web

		footer
			h2.goodbye|let's work together
			input(type='email' placeholder='zero-spam, just an actual response from me')
			input(type='submit', value='submit')
		