:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inheret;
}

body {
  font-family: Georgia: 'Times New Roman', Times, serif;
  color: rgba(0,0,0,.8);
}

.container {
  margin: 16px auto 0;
  max-width: 500px;
  width: 100%;
  padding: 16px;
}

.intro {
  margin-top: 20px;
}

h1, h2 {
  font-family: Helvetica, serif;
  margin: 24px 0 0;
}

p {
  margin: 24px 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

p ~ p {
  margin: 0;
}

p + p {
  text-indent: 1em;
}

ul {
  padding-left: 0;
  list-style-type: none;
)

a {
  font-size: 1.25rem;
}

li {
  margin-bottom: 20px;
}

@media(max-width: 320px){
  p {
    font-size: 1rem;
  }
}
