//imports
	@import '_colors';
	@import '_svg.styl'
	@import 'jeet';
	@import 'nib';
	@import '../../bower_components/rupture-by-jenius/rupture/index.styl';

html
body
	font-family: 'Lato', sans-serif;
	font-weight 300
	padding 0
	margin 0
	height 100%
	width 100%
	// background $gray	

// header
// 	text-align right
// 	background transparent
// 	background-size 100%
// 	center(960px)

ul
	margin-bottom 0 
	li
		display: inline
		margin-right 2%
		+below(600px)
			visibility hidden

.social
	padding 2%
	border 1px solid $light
	margin-right 2%
	transition .5s
	&:hover
		background $light
		color $green
		
.social1
	padding 2%
	border 1px solid $light
	margin-left 2%
	transition .5s
	&:hover
		background $light
		color $green

a 
	text-decoration none
	color $light
	font-size 1.25rem	
		
.topContainer
	background url('../img/background.svg') no-repeat center top fixed, 
	url('../img/background1.svg') no-repeat center right,
	url('../img/background1.svg') no-repeat left center,  
	url('../img/background3.svg') no-repeat center right fixed
	background-color $gray
	background-size contain
	height 60vh
	margin 0
	transition .5s
	+below(600px)
		height 40vh
		background url('../img/background.svg') no-repeat center bottom fixed, 
		url('../img/background1.svg') no-repeat center center,
		url('../img/background1.svg') no-repeat bottom right,  
		url('../img/background3.svg') no-repeat center bottom fixed
		background-color $gray
		background-size contain
		
	

.middlewrap
	width 100%
	background $light

.lowerwrap
	width 100%
	background $green

.name
	font-weight 300
	font-size 65px
	text-align center
	color $light
	padding-top 5%
	margin 0
	transition .5s
	+below(600px)
		background $gray
		padding-bottom 5%


.line
	margin-top 5%
	center()
	width 95%
	border 3px solid $gray
	
	+below(600px)
		border 1px solid $gray

.middleText
	text-align: center
	font-weight 300	
	font-size 2.8125rem


.middleText2
	text-align: center
	font-weight 300	
	font-size 2.8125rem


section
	center(960px)
	background $light


.single
	margin-bottom 5%
	img
		center()			


footer
	center(960px)
	text-align: center
	height 50vh
	color $light
	transition .5s
	+below(600px)
		height 35vh
	

$keyframe-name = test
@keyframes {$keyframe-name}
	for i in 0..10
		{10% * i}
			opacity (i/10)

.goodbye
	margin 10% 0
	text-align: center
	font-weight 300	
	font-size 2.8125rem
		

.middle img
	animation-name test
	animation-duration .5s
	padding-left 6%
	display inline
	transition .5s
	+below(600px)
		display block
		margin 10px auto
		padding 0
		
.one
	height auto
	width 45%
	transition .5s
	+below(600px)
		width 45%
	
.two
	height auto
	width 20%
	transition .5s
	+below(600px)
		width 30%
	
.three
	height auto
	width 10%
	transition .5s
	+below(600px)
		width 15%

#web
	height auto
	width 60%

		
		

