//imports
	@import '_colors';
	@import 'jeet';
	@import 'nib';
	@import '../../bower_components/rupture-by-jenius/rupture/index.styl';

html
body
	font-family: 'Lato', sans-serif;
	font-weight 300
	padding 0
	margin 0
	height 100%
	width 100%
	// background $gray	

edit($green)



header
	text-align right
	center(960px)

ul
	margin-bottom 0 
	li
		display: inline

a 
	text-decoration none
	color $light
	font-size 1.25rem	
		
.topContainer
	// background url('../img/background.png') no-repeat center center fixed
	// background-color $gray
	background-size contain
	// height 60vh
		
	
.name
	font-weight 300
	font-size 4.375rem
	text-align center
	color $light
	margin 0

.middleText
	text-align: center
	font-weight 300	

.middleContainer
	height 40vh
	center(960px)
	
	
	
	// background $light
	
.responsive
	col(1/3)
	img
		margin-left 6%

.single
	center(960px)
	
img
	col(1/3)
	
	

	

footer
	col(1/3)


#desktop
	height auto
	width 45%
	
#tablet
	height auto
	width 20%
	
#mobile
	height auto
	width 10%

#web
	height auto
	width 13%
	




