//imports
	@import '_colors';
	@import '_svg.styl'
	@import 'jeet';
	@import 'nib';
	@import '../../bower_components/rupture-by-jenius/rupture/index.styl';

html
body
	font-family: 'Lato', sans-serif;
	font-weight 300
	padding 0
	margin 0
	height 100%
	width 100%
	// background $gray	

edit($green)

header
	text-align right
	center(960px)

ul
	margin-bottom 0 
	li
		display: inline
		+below(600px)
			visibility hidden

a 
	text-decoration none
	color $light
	font-size 1.25rem	
		
.topContainer
	// background url('../img/background.png') no-repeat center center fixed
	// background-color $gray
	background-size contain
	// height 60vh
		
	
.name
	font-weight 300
	font-size 65px
	text-align center
	color $light
	margin 0

.line
	margin-top 40px
	center()
	width 95%
	border 3px solid $gray
	
	+below(600px)
		border 1px solid $gray

.middleText
	text-align: center
	font-weight 300	
	font-size 2.8125rem


.middleText2
	text-align: center
	font-weight 300	
	font-size 2.8125rem


section
	center(960px)


.single
	img
		center()			

footer
	center(960px)
	text-align: center
	cf()

.goodbye
	text-align: center
	font-weight 300	
	font-size 2.8125rem

.middle img
	padding-left 6%
	display inline
	+below(600px)
		display block
		margin 10px auto
		
.one
	height auto
	width 45%
	+below(600px)
		width 45%
	
.two
	height auto
	width 20%
	+below(600px)
		width 30%
	
.three
	height auto
	width 10%
	+below(600px)
		width 20%

#web
	height auto
	width 60%

		
		

