@import 'jeet';

/***********
** colors **
***********/
$gray = #404040
$light = #F2EFDC
$green = #1D3C42

edit()

html
body
	font-family: 'Lato', sans-serif;
	font-weight 300
	padding 0
	margin 0
	height 100%
	width 100%
	// background $gray

header
	text-align right
	center(960px)

ul
	margin-bottom 0 
	li
		display: inline

a 
	text-decoration none
	color $light
	font-size 1.25rem	
		
.topContainer
	// background url('../img/background.png') no-repeat center center fixed
	// background-color $gray
	background-size contain
	height 60vh
	
.name
	font-weight 300
	font-size 4.375rem
	text-align center
	color $light
	margin 0

.middleContainer
	// background $light
	height 40vh
	
.middleText
	text-align: center
	font-weight 300	

.centerThing
	center(960px)
	img
		col(1/3)
	
// .icons img
// 	margin-left 6%
	

@media (max-width: 250px)
	#desktop
		stack()
	

		
		

#desktop

	// width 45%
	
#tablet
	
	// width 20%
	
#mobile
	
	// width 10%

#web
	
	// width 13%
	




