html,
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
* {
  background: rgba(29,60,66,0.05);
}
header {
  text-align: right;
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
header:before,
header:after {
  content: '';
  display: table;
}
header:after {
  clear: both;
}
ul {
  margin-bottom: 0;
}
ul li {
  display: inline;
}
@media only screen and (max-width: 600px) {
  ul li {
    visibility: hidden;
  }
}
a {
  text-decoration: none;
  color: #f2efdc;
  font-size: 1.25rem;
}
.topContainer {
  background-size: contain;
}
.name {
  font-weight: 300;
  font-size: 65px;
  text-align: center;
  color: #f2efdc;
  margin: 0;
}
.line {
  margin-top: 40px;
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 95%;
  border: 3px solid #404040;
}
.line:before,
.line:after {
  content: '';
  display: table;
}
.line:after {
  clear: both;
}
@media only screen and (max-width: 600px) {
  .line {
    border: 1px solid #404040;
  }
}
.middleText {
  text-align: center;
  font-weight: 300;
  font-size: 2.8125rem;
}
.middleText2 {
  text-align: center;
  font-weight: 300;
  font-size: 2.8125rem;
}
section {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
section:before,
section:after {
  content: '';
  display: table;
}
section:after {
  clear: both;
}
.single img {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.single img:before,
.single img:after {
  content: '';
  display: table;
}
.single img:after {
  clear: both;
}
footer {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  *zoom: 1;
}
footer:before,
footer:after {
  content: '';
  display: table;
}
footer:after {
  clear: both;
}
footer:before,
footer:after {
  content: '';
  display: table;
}
footer:after {
  clear: both;
}
.goodbye {
  text-align: center;
  font-weight: 300;
  font-size: 2.8125rem;
}
.middle img {
  padding-left: 6%;
  display: inline;
}
@media only screen and (max-width: 600px) {
  .middle img {
    display: block;
    margin: 10px auto;
  }
}
.one {
  height: auto;
  width: 45%;
}
@media only screen and (max-width: 600px) {
  .one {
    width: 45%;
  }
}
.two {
  height: auto;
  width: 20%;
}
@media only screen and (max-width: 600px) {
  .two {
    width: 30%;
  }
}
.three {
  height: auto;
  width: 10%;
}
@media only screen and (max-width: 600px) {
  .three {
    width: 20%;
  }
}
#web {
  height: auto;
  width: 60%;
}
