---
layout: testlayout
---


<div class="bg-home">
  <section class="container race-tri-intro">
    <h1 class='rt-title'>RaceTri</h1>
    <h2 class='rt-subtitle'>Redesign</h2>

    <div class="rt-intro-text-container">
      <h3 class="rt-description-title">problem</h3>
      <p class="rt-description-text">SCHAWEL+COLES wanted to see how I would approach redesigning a section of one of their client’s current site.</p>
    </div>

    <div class="rt-intro-text-container">
      <h3 class="rt-description-title">constraints</h3>
      <ul>
        <li class="rt-description-text">Time (1 day)</li>
        <li class="rt-description-text">No client interaction</li>
      </ul>
    </div>

    <div class="rt-intro-text-container">
      <h3 class="rt-description-title">Process Overview</h3>
      <p class="rt-description-text">I work in a ‘Lean UX’ method of Build -> Measure -> Learn, and quick iterations.</p>
      <p class="rt-description-text">The time constraint of 24 hours, and not being able to interact with the client, I made some assumptions that I would have first discussed with the client and tested afterwards to verify success.</p>
    </div>
  </section>
</div>


<section class=" race-tri-step0">


<div class="bg-dropbox">

  <section class="container rt-step0-container">

  <h1 class='rt-title--light'>Whatchu workin’ with</h1>
  <h2 class='rt-subtitle--light'>Site Audit</h2>


    <div class="rt-paper-container">
      <h3 class="rt-description-title--light">Paper</h3>
      <p class="rt-description-text">In order to find out what area would have the most impact from a redesign, I started with taking a general audit of the site.</p>
      <p class="rt-description-text">For easy annotation and the ability to have various type of media without looking terrible (i.e., g-docs), I chose to use Dropbox's Paper to take my notes.</p>
    </div>

    <div class="rt-included-container">
      <h3 class="rt-description-title--light">Included</h3>
      <ul class='cookie-container'>
        <li class='cookie'>current information architecture</li>
        <li class='cookie'>basic QA (links/buttons/forms)</li>
        <li class='cookie'>website responsiveness</li>
        <li class='cookie'>screenshots</li>
        <li class='cookie'>date of content</li>
        <li class='cookie'>pagespeed insights</li>
        <li class='cookie'>problem code snippets</li>
      </ul>
    </div>


    
  </section>
</div>




<section class="container race-tri-outcome">
  <h1 class='rt-title'>Outcome Problem Solution</h1>
  <h2 class='rt-subtitle'>Events Page</h2>

  <div class="rt-outcome-container">

    <div class="rt-outcome-container">
     <!--  <h3 class="rt-description-title--light">Paper</h3> -->
      <p class="rt-description-text">After the site audit, I decided to focus on the <strong> ‘Events’</strong> page. By focusing on an <strong>outcome</strong>, I approached the redesign with the intent to increase signups for race events.</p>
      <p class="rt-description-text">The current website had several areas that I could reasonably assume were impacting sign ups.</p>


        <div class="rt-outcome-sidenote">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <p>Going with the outcome of 'increasing event sign ups,' I would have nailed down a meaningful percentage increase with the client.</p>
        </div>
    </div>

  
 <h3 class="rt-description-title u-center">Potential Problems</h3>
    <div class="rt-problem-container">
     
       
      <figure class="testcenter u-center phone">
         <img src="../assets/img/iphone-current.png" alt="iphone-current">
         <figcaption class='figure-caption'>current site on mobile (not-responsive)</figcaption>
      </figure>


    <div class="closeup-container">

      <figure class="testcenter u-center">
         <img src="../assets/img/noinfo.png" alt="iphone-current">
         <figcaption class='figure-caption orange'>current site on mobile (not-responsive)</figcaption>
      </figure>

      <figure class="testcenter u-center">
         <img src="../assets/img/outdated.png" alt="iphone-current">
         <figcaption class='figure-caption orange'>current site on mobile (not-responsive)</figcaption>
      </figure>

    </div>

    </div>





  </div>
</section>

<div class="bg-sketches">
  <section class="container race-tri-ideation">
    <h1 class='rt-title'>Inital Ideation</h1>
    <h2 class='rt-subtitle'>Sketches</h2>

    <div class="container rt-ideation-container">

    
        <figure class="u-center">
           <img src="../assets/img/sketch-high-level.png" alt="iphone-current">
           <figcaption class='figure-caption'>high-level exploration</figcaption>
        </figure>


      <div class="events-exploration">

        <figure class="testcenter u-center">
           <img src="../assets/img/sketch-events-exploration.png" alt="iphone-current">
           <figcaption class='figure-caption orange'>I explored data placement [date / time / race stats]</figcaption>
        </figure>

      

      </div>

      </div>

    </div>
  </section>

</div>






<div class="bg-exploration">
  <section class="container container">
    <h1 class='rt-title'>Exploration</h1>
    <h2 class='rt-subtitle'>Sketches to high(er)-fi</h2>

    <p class="rt-description-text">After getting my thoughts out with sketches, I moved into Sketch to expand on them and then moved into higher fidelity mocks.</p>

    <div class="container rt-exploration-container">

    
        <figure class="u-center">
           <img src="../assets/img/exploration-placement.png" alt="iphone-current">
           <figcaption class='figure-caption'>exploring general placement (very rough)</figcaption>
        </figure>


      <div class="events-exploration">

        <figure class="testcenter u-center">
           <img src="../assets/img/exploration-events-1.png" alt="iphone-current">
           <img src="../assets/img/exploration-events-2.png" alt="iphone-current">
           <figcaption class='figure-caption'>seeing events with/without 'results'</figcaption>
        </figure>
       <p class="rt-description-text">Two mobile first concepts, I would have interviewed actual athletes to determine if 'past results' was important enough to combine in the registration info</p>

      </div>

      </div>


  </section>

</div>









<div class="bg-tablet">
  <section class="container tablet">
    <h1 class='rt-title--light'>Exploration</h1>
    <h2 class='rt-subtitle--light'>Tablet View</h2>

    <p class="rt-description-text">After getting my thoughts out with sketches, I moved into Sketch to expand on them and then moved into higher fidelity mocks.</p>

    <div class="container rt-exploration-container">

    
        <figure class="u-center">
           <img src="../assets/img/exploration-tablet.png" alt="iphone-current">
           <figcaption class='figure-caption orange'>exploring results styling</figcaption>



          <div class="rt-outcome-sidenote-2">
          <p>SPONSOR & FOOTER section was left basic because of time constraints, but I wanted to get a better idea of how it would look with an entire page built out</p>
        </div>
        </figure>



      </div>

  
  </section>

</div>



<div class="bg-results">
  <section class="container tablet">
    <h1 class='rt-title'>Results</h1>
    <h2 class='rt-subtitle'>before</h2>

    

      <div class="before-container">
        <figure>
          <img src="../assets/img/results-before-iphone.png" alt="iphone-current">
        </figure>

        <figure>
          <img src="../assets/img/results-before-tablet.png" alt="iphone-current">
        </figure>
      </div>
      
  <h2 class='rt-subtitle u-topmargin'>after</h2>
      <div class="after-container">

        <figure>
          <img src="../assets/img/results-after-iphone.png" alt="iphone-current">
        </figure>

        <figure>
          <img src="../assets/img/results-after-tablet.png" alt="iphone-current">
        </figure>
      </div>


    


  </section>

</div>



<div class="">
  <section class="container race-tri-intro">
    <h1 class='rt-title'>Conclusion</h1>
    <h2 class='rt-subtitle'>RaceTri Events Redesign</h2>

    <div class="rt-intro-text-container">
      <h3 class="rt-description-title">contstraints</h3>
      <p class="rt-description-text">Not being able to talk to the client gave me a chance to examine the website in its entirety, without having any assumptions of 'what' to redesign.</p>
      <p class="rt-description-text">I believe it made my audit a little bit more thorough and I was also able to take on the website as a whole and determine what I thought had the most potential for impact.</p>
    </div>

    <div class="rt-intro-text-container">
      <h3 class="rt-description-title">process</h3>
       <p class="rt-description-text">I work in a cross-functional team and have the luxury of a short feedback loop from developers and PM's, and in this case (working solo) I did my best to think outside of my role.</p> 
       <p class="rt-description-text">Taking into account development concerns and business requirements (even imaginary) was a good exercise.</p>   
    </div>

    <div class="rt-intro-text-container">
      <h3 class="rt-description-title">lessons learned</h3>

      <p class="rt-description-text">The short timeframe meant I had to be ruthless with my time management, and in hindsight, I should have been faster with my audit and not have spent time prototyping a button interaction.</p>
      <p class="rt-description-text">I spent a little bit of time in Framer prototyping what a register-button -> inline form would work, but I think time could have been better spent making the header/footer/sponsor section more refined.</p>
    </div>
  </section>
</div>












<!-- <div class="test-image">
  <img src="../assets/img/ipad.png" alt="">
</div> -->

<!-- 
<div class="experience-container">
  <h2 class="r-title">Experience</h2>
  
  <div class="ex-item">
    <h3 class="r-subtitle">First UX designer hired at DirectScale, helping forge a user-centered culture</h3>
    <ul>
      <li>helped drive business initiatives, contributing to DirectScale's recognition by Utah Venture Entrepreneur Forum 'Top 25 under 5' (#3)</li>
    </ul>
  </div>

  <div class="ex-item">
    <h3 class="r-subtitle">Work with PM’s and Developers to help create new product-wide features</h3>
    <ul>
      <li>create rapid prototypes at varying levels of fidelity and work within a cross-functional team</li>
      <li>conduct story-workshops to unpack the problem and ensure no features are overlooked</li>
    </ul>
  </div>


  <div class="ex-item">
    <h3 class="r-subtitle">Work with clients to simplify complex data into actionable experiences for the end-user</h3>
    <ul>
      <li>lead disovery sessions with clients to help truly understand the problem, and solve for an ‘ideation’ not just ‘output’</li>
      <li>conducted a Sprint to quickly test and validate new feature</li>
    </ul>
  </div>


  <div class="ex-item">
    <h3 class="r-subtitle">Always developing and refining skillset</h3>
    <ul>
      <li>helped completely redesign legacy software utilizing Google’s Material Design framework</li>
      <li>staying current with new technologies to help increase efficiency (e.g., Sketch Runner) and consistency across teams (e.g, Abstract, Folio, Git)</li>
    </ul>
  </div>
</div>

<div class="work-container">

  <h2 class="r-title">Work History</h2>

  <div class="work-container">
    <h3 class="r-subtitle">User Experience Designer</h3>
    <h3 class="r-date">First UX designer hired at DirectScale, helping forge a user-centered culture</h3>
    <h3 class="r-company">@DIRECTSCALE</h3>
  </div>

  
</div> -->