---
layout: homealternate
---

<div class="bigimage">
    <section class="container home-intro">
        <h1 class='home-title'>Hi!</h1>
            <p class="home-description-text">I'm currently (nov 2017) getting things together for this website, but in the meantime feel free to look at a mini <a href="{{site.github.url}}/menu/caseStudy">case study</a> or learn a bit more <a href="{{site.github.url}}/menu/about">about me</a>.
            </p>
            <p class='u-center'>
            <span>👨‍💻️</span>
            </p>
    </section>

</div>
